/node_modules
/public/hot
/uploads/contacts
/uploads/invoice
/uploads/leads
/uploads/products
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/.history
.env
.phpunit.result.cache
